* {
  margin-right: 0 !important;
  padding: 0;
}

/* Index CSS */
body {
  background-color: #fafafa !important;
  font: Roboto;
}

.container1 {
  position: relative;
  display: flex;
  column-gap: 100px;
  height: 100vh;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100%;
}

.login-img {
  border-radius: 50%;
  box-shadow: 0px 4px 31px #0000000a;
  border: 20px solid #ffffff;
  width: 100% !important;
  max-width: 600px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  margin-top: 50px !important;
}

.logo {
  width: 300px;
}

.tag-line {
  color: #3e3e3e;
  font-size: 40px;
}

.exp {
  color: #c8242f;
}

.para1 {
  color: #3e3e3e;
  font-size: 20px;
}

::placeholder {
  color: #adadad;
  padding-left: 20px !important;
  font-size: medium;
}

input {
  width: 26vw;
  height: 6vh;
  border: 1px solid #adadad;
  border-radius: 5px;
}

.login-btn {
  width: 7vw;
  background-color: #c8242f !important;
  border-radius: 23px !important;
}

.f-pass {
  color: #adadad;
  text-decoration: none;
  position: relative;
  margin-left: 140px;
  margin-top: 20px;
}

.reg {
  color: #c8242f;
}

.para2 {
  color: #adadad;
}

@media screen and (max-width: 820px) {
  .img-container {
    opacity: 0.3;
    justify-content: center;
  }

  .login-container {
    position: absolute;
    width: 100%;
    margin-left: 10px;
    justify-content: center;
  }

  .logo {
    width: 200px;
  }

  .tag-line {
    font-size: 23px;
  }

  input {
    width: 250px;
  }

  .login-btn {
    width: 100px;
  }

  .f-pass {
    margin-left: 60px;
  }
}

/* DashBoard CSS */
main {
  background-color: #a6a6a6;
}
#menu-logo {
  padding-right: 10px;
  padding-left: 20px;
  border: none;
  background-color: #fafafa;
}

#basic-addon1 {
  width: 20px;
}

.search-input {
  border: none;
  height: 30px;
  background-color: #fafafa;
}

.sbar {
  position: relative;
  margin-left: -100px;
}

.notification-icon {
  display: inline;
  margin: 0;
}

.profile {
  margin-left: 50px;
  margin-top: -25px;
}

.dash-img {
  width: 22px;
}

.dash-items {
  margin-bottom: 15px;
}

.dash-active {
  background-color: #f9e4e6 !important;
  color: #c8242f;
}

/* .header{
  position: sticky !important;
} */

.sidebar {
  overflow: hidden;
  padding: 25px 30px;
  /* position        : sticky !important; */
  width: 242px;
  min-width: 242px;
  height: calc(100vh - 80px);
  top: 80px;
  right: 80px;
  transition: 0.5s;
  z-index: 2;
  background-color: #ffffff;
}

.sidebar-hide {
  padding: 4px;
  width: 64px;
  min-width: 64px;
}

.dropdown {
  position: relative;
  padding-left: 400px;
}

.main-content {
  position: relative;
  margin-left: 350px;
  margin-top: -650px;
}

table {
  min-width: 825px;
}
.table-container {
  overflow: auto;
  width: 100%;
}

.div1 {
  display: flex;
  flex-direction: row;
}

.div11 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-right: 15px;
  padding-top: 30px;
  width: 219px;
  height: 116px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.f-img {
  width: 50px;
  margin-left: 30px;
  margin-top: -40px;
}

.circle {
  height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 20px;
  border-radius: 50%;
}


@media screen and (max-width: 480px) {
  .div1 {
    display: flex;
    flex-direction: row;
    width: 75% !important;
  }

  .div11 {
    width: 75% !important;
    padding-right: 20px;
  }

  .dropdown {
    position: relative;
    margin-left: 250px;
    margin-top: -50px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    margin-left: 90px !important;
    margin-top: -560px;
    width: 200% !important;
  }

  .sbar {
    margin-top: 4px !important;
    margin-left: 1px;
    width: 100px;
    visibility: hidden;
  }

  .pie-chart {
    width: 70% !important;
  }

  .sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidebar-hide {
    padding: 0;
    width: 0 !important;
    min-width: 0;
  }
}

/* Innerpage CSS */
input[type='radio'],input[type='checkbox']{
  accent-color: crimson !important;
}

.main-form{
  margin-left: 250px;
  margin-top: -710px;
}

.activeTab{
  color: #C8242F;
  border: none;
  border-bottom: 1px solid #C8242F !important;

}

.activeTab:hover{
color: black;
}

.radio-btn{
  width: auto;
  height: auto;
}

@media screen and (max-width: 800px) {
  
  .sidebar{
    background-color: #ffffff !important;
  }

  .main-form{
    z-index: -1;
    margin-top: -600px ;
    margin-left: -10px;
    width: 200%;
  }
}